.chat-room-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: white;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.theme-heading {
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  color: white;
}

.content-box {
  background-color: rgba(169, 169, 169, 0.7);
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  max-height: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin; 
  scrollbar-color: transparent transparent; 
}

.content-box::-webkit-scrollbar {
  width: 5px; 
}

.content-box::-webkit-scrollbar-track {
  background: transparent;
  margin: 4px 0; 
}

.content-box::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  transition: background-color 0.3s ease; 
}

.content-box:hover::-webkit-scrollbar-thumb {
  background-color: rgba(78, 16, 77, 0.8);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); 
}

.content-box:hover::-webkit-scrollbar-thumb:hover {
  background-color: rgba(78, 16, 77, 0.95); 
}

.content-box:hover {
  scrollbar-color: rgba(78, 16, 77, 0.8) transparent;
}

.title {
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 25px;
  color: white;
  text-align: center;
}

.text-content {
  font-size: 1.1rem;
  line-height: 1.6;
  color: white;
}

.text-content p {
  margin-bottom: 20px;
}

.loading-container-chat-ai{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.spinner-chat-ai{
    border: 6px solid #eee;
    border-top: 6px solid #7c3aed;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    animation: spin 1s linear infinite;
    margin-bottom: 16px;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

@media (max-width: 850px) {
  .content-box {
    width: 90%;
  }
}

.chat-room-back-button {
  position: absolute;
  top: 20px;
  left: 20px;
}
