.reset{
    width: 102px;
}

.container>form>span{
  font-size: 18px;
  font-weight: 600;   
}

.container>h1{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.middle{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container>form>input{
    width: 330px;
    height: 25px;
    font-size: 20px;
    border-radius: 5px;
}

.resetPasswordForm{
    color: black;
}