.reset{
    width: 102px;
}

.logo {
    width: 300px;
    margin-bottom: -10px;
    margin-top: -15px;
    padding-top: 0px;
}


.container-reset>form>label{
  font-size: 18px;
  font-weight: 600;
  color: black;
}

.container-reset>h1{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.middle{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-reset>form>input,
.password-field-reset input{
    width: 330px;
    height: 25px;
    font-size: 20px;
    border-radius: 5px;
    margin: 10px;
}

.container-reset{
    background-color: rgba(210, 210, 210, 0.9); /* Fundo branco com transparência */
    border-radius: 10px;
    padding: 30px;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    color: black;
}



.error-message {
    color: #ff3333;
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;

}


.password-field-reset {
    position: relative;
    width: 330px; /* igual ao input */

}
.password-field-reset .eye-button {
    transform: translateY(-60%) !important; /* Sobrescreve o -80% do componente original */
}

.info-icon {
    position: relative;
    display: inline-block;
    color: black;
    cursor: pointer;
    font-size: 16px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    margin-left: 5px;
    font-weight: bold;

}
