
h1{
  text-align: center;
  width: 100%;
}

.buttonGroupTop{
  display: flex;  
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.home-container {
  display: flex;
  width: 100%;
}

.content-container {
  margin-left: 50px; /* Espaço para o menu fechado */
  flex: 1;
  padding: 20px;
}

.chatrooms-scroll-container {
  display: flex;
  flex-direction: column;
  gap: 25px; /* ajuste conforme necessário */

}

.chatrooms-scroll-container > div > span, .chatrooms-scroll-container > div> div > span  {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 20px;
  margin-bottom: 10px;
}
