/*Ver a merda dos overflows porque nenhum insta a funcionar, e os fundos 
estao a ficar pretos em baixo quando a tela é diminuida. Overflow hidden
nao pode ser aplicado em tudo senao ficas sem ver o conteudo se*/

.gradient_background_BP{
    background: linear-gradient(
        0deg,
         #4E104D 0%,
         #000000 100%
      );
      min-height: 100vh;
      margin: 0;
      width: 100vw;
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;
      font-family: "Inter-Regular", sans-serif;
      color: white;

}

.gradient_background_BPB{
    background: linear-gradient(
        0deg,
        #171B85 0%,
        #4E104D 45%, 
        #000000 75%
      );
      margin: 0;
      min-height: 100vh;
      width: 100vw;
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;
      font-family: "Inter-Regular", sans-serif;
      color: white;
}


.gradient_background_BB{
    background: linear-gradient(
        0deg,
        #171B85 0%, 
        #000000 75%
    );
    margin:0;
    min-height: 100vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Inter-Regular", sans-serif;
    color: white;
}

.container{
    background-color: rgba(210, 210, 210, 0.9); /* Fundo branco com transparência */
    border-radius: 10px;
    padding: 30px;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.allow_scroll{
    /*overflow-y: scroll !important;*/
}
