.progress-container {  
    padding: 20px;
    color:#A37E07;
}

.progresscontent-container {
    margin: 50px auto;
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    gap: 80px;
}

.chart-container {
    width: 60%; 
    max-width: 500px; 
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.chart-container h2 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
    font-weight: bold;
    text-align: center;
}
