.buttonSimple{
    
    padding: 27px 87px 27px 87px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 30px;
    font-weight: 700;
    border: none;
    white-space: nowrap;
    cursor: pointer;
}


.w830h90{
    width: 830px;
    height: 90px;
}

.w400h90{
    width: 400px;
    height: 90px;
}

.w100h25{
    width: 100px;
    height: 25px;
}

.w90h47{
    width: 90px;
    height: 47.2px;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    margin-top: 5px;
}

.w150h47{
    width: 150px;
    height: 47.2px;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    margin-top: 5px;
}

.w180h47{
    width: 180px;
    height: 47.2px;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    margin-top: 5px;
}

.w250h50{
    width: 250px;
    height: 50px;
}


.purple_dark{
    background: linear-gradient(
        #3D093D 0%,
        rgba(37,22,57, 0.25) 100%
    );
    color: white;
    border-radius: 30px;
}

.purple_dark:hover{
    background-color: #654A65;
    
}

.grey_purple{
    background: linear-gradient(
        #382B38 0%,
        rgba(115,115,115, 0.25) 100%
    );
    color: white;
    border-radius: 30px;
}

.grey_purple:hover{
    background-color: #654A65;
    
}

.grey{
    background-color: #7E7B7E;
    color: white;
    border-radius: 30px;
}

.grey:hover{
    background-color: #654A65;
}

.darkmagenta{
    background-color: darkmagenta;
    color: white;
    border-radius: 30px;
    font-size: 20px;
}

.darkmagenta:hover{
    background-color: #654A65;
}

.blue:hover{
    background-color: #654A65;
}

.purple{
    background-color: #3B143A;
    color: white;
    border-radius: 30px;
}

.purple:hover{
    background-color: #654A65;
}

.green{
    background-color: #099a15;
    color: white;
    border-radius: 30px;
}

