/* Contêiner principal */
.container-wrapperMetrics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

/* Caixa principal */
.containerMetrics {
    width: 60%;
    max-width: 800px;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* Sombra suave */
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.containerMetrics:hover {
    transform: scale(1.03); /* Leve aumento ao passar o mouse */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5); /* Sombra mais intensa */
}

/* Título */
.metrics {
    color: #F5C542;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    font-style: italic;
    margin-bottom: 50px;
    letter-spacing: 1px;
    
}

/* Contêiner de labels */
.label-metrics {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaçamento uniforme entre os itens */
    align-items: center;
    width: 100%;
}

/* Títulos das labels */
.bmetrics {
    color: #F5C542;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px; /* Espaçamento maior entre letras */
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3); /* Sombra no texto */
}

/* Parágrafos das labels */
.pmetrics {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1); /* Fundo translúcido */
    padding: 12px 20px; /* Espaçamento interno maior */
    border-radius: 12px; /* Bordas mais arredondadas */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra mais suave */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.pmetrics:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Fundo mais claro ao passar o mouse */
    transform: translateY(-3px); /* Elevação ao passar o mouse */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Sombra mais intensa */
}