
.containerDeleteAccount {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    
}

.delete {
    color: #A37E07;
    font-size: 28px;
    font-weight: 700;
    margin-top: -20px;
    text-align: center;
}

.deletewarning {
    color: #A37E07;
    font-size: 12px;
    font-weight: 700;
    margin-top: 2px;
    text-align: center;
}
.cancel-button,.delete-button {
    margin: 10px 30px;
    padding: 15px 30px;
    border-radius: 20px;
    color: #A37E07;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid #A37E07;  
    transition: background-color 0.3s ease, color 0.3s ease;
    }
    .cancel-button:hover, .delete-button:hover {
        background-color: #A37E07; 
        color: #fff; 
    }