.container-wrapperPD {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    padding: 20px;
}

.containerPD {
    width: 50%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.64);
    padding: 30px;
    border-radius: 20px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    text-align: left;
    transition: all 0.3s ease-in-out;
}

.containerPD:hover {
    transform: scale(1.02); 
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4); 
}

.avatar {
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.avatar:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.changeavatar {
    text-align: center; 
    font-size: 16px;
    color: #171B85;
    cursor: pointer;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    text-decoration: none; 
    margin-top: 15px;
}

.changeavatar:hover {
    color: #0d1260;
    text-decoration: underline; 
}

.edit {
    color: #171B85;
    font-size: 28px;
    font-weight: 700;
    margin-top: 20px;
    text-align: center;
    position: relative;

    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 5px; 
}
.edit:hover {
    transform: scale(1.05); /* Leve aumento ao passar o mouse */
    color: #0d1260;
    cursor: pointer;
}

.edit:hover .editicon {
    transform: scale(1.2) rotate(15deg); /* Aumenta o ícone ao passar o mouse */
}
.editicon {
    width: 24px; 
    height: 24px;
    transition: transform 0.3s ease;
}



b {
    display: block;
    font-size: 18px; 
    color: #171B85;
    margin-top: 15px;
    font-weight: 600;
    transition: color 0.3s ease;
}

b:hover {
    color: #0d1260;
}

/*ALTERA AQUIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII

IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
I
IIIIIIIIIIIIIIIIIIIIIIIII*/
palgumacoisa {
    font-size: 16px; 
    color: #555; 
    margin-bottom: 10px;
    line-height: 1.5; 
}

palgumacoisa:hover {
    color: #222; 
}